<footer class="border-top card-footer text-muted text-center footer">
    <div class="container" style="font-size: 20px">
        Copyright &copy; @_configuration["AppName"]  @DateTime.Now.Year
    </div>
</footer>
