@{
    ViewData["Title"] = "Add Product";
}

@model ProductModel

<h2 class="h2 modal-title text-center mt-5">Add Product</h2>
<br />

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>Congratulations</strong> You have added new Product successfully. <br />
    </div>
}
else if (ViewBag.IsFailed == true)
{
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>Oopss !!</strong> This Paroduct is already there. <br />
    </div>
}

<div class="container mt-5">
    <div class="addtxtDiv">
        <form method="post" asp-action="addProduct" asp-controller="Product">
            <div class="form-group">
                <label asp-for="productName"></label>
                <input asp-for="productName"  />
                <br />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group addButtonDiv">
                <input type="submit" value="Save" class="btn btn-success" />
                <a type="button" class="btn btn-light" asp-action="allProductItem" asp-controller="Product">Cancel</a>
            </div>
        </form>
    </div>
</div>