@{
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container">

        <h1>Welcome to @_configuration["AppName"]</h1>
        <br />
        <p class="lead text-muted">
            This is Party Product Module. <br />
            In which, You can see the How many Parties are available and also You can see about the Product items.
            You can check about the when is rate assign to product and about rate.
            Also you can check the which product is which party.
            Also, you can buy the product and make the bill.
            Also you can return the Product.
        </p>
        <br />
        <br />
        <br />
        <button type="button" class="btn btn-dark" style="font-size:22px">You can visit the facilities from NAVBAR</button>
        <br />
        <br />
        <img src="~/images/invoice_home.png" alt="dummy_image" style="height: 350px; width:500px">

    </div>
</section>


@*<partial name="_footer" />*@